*{
    box-sizing: border-box;
}
.title{
    text-align: center;
    text-decoration: underline;
}
.task1{
    justify-content: center;
}
.formTask1{
    /* width: 800px; */
    margin-left: 20%;
}
#ctrlA{
    display: none;
}
#ctrlS{
    display: none;
    display: ;
}
.btnGrup{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.images{
    text-align: center;
    background-color: blue;
    height: 200px;
}
.images>img{
    border: 1px solid green;
    width: 100px;
    margin-top: 20px;
}