*{
    box-sizing: border-box;
}
.title{
    text-align: center;
    text-decoration: underline;
}
.task1{
    justify-content: center;
}
.formTask1{
    /* width: 800px; */
    margin-left: 20%;
}
#ctrlA{
    display: none;
}
#ctrlS{
    display: none;
    display: ;
}
.btnGrup{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}